/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(222, 80%, 58%);
  --dark-color: hsl(222, 24%, 8%);
  --text-color-light: hsl(222, 8%, 65%);
  --white-color: #fff;
  --body-color: hsl(222, 100%, 99%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --small-font-size: 0.813rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);

  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*=============== SEARCH ===============*/
.search__box {
  background-color: var(--white-color);
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 1rem;
}

.search__text {
  border: none;
  outline: none;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  opacity: 0;
  display: none;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.search__icon {
  cursor: pointer;
  background-color: var(--first-color);
  color: var(--white-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

/* Search animated */
.search__box:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.search__box.active {
  width: 15rem;
}

.search__box.active .search__text {
  opacity: 1;
  pointer-events: initial;
  display: inline-block;
}

.search__box.active .search__icon {
  background-color: var(--dark-color);
  left: auto;
  right: 1rem;
  transform: translate(0, -50%);
}
/*=============== BREAKPOINTS ===============*/
/* For medium devices */
